body{
	font-family: 'Source Serif Pro', serif;
	margin: 0 auto;
	max-width: 1000px;
	flex: 1;
	background-color: #1b2127;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

p{
	margin: 0;
	font-size: 22px;
}

h1{
	font-size: 40px;
	line-height: 1.5em;
	color: white;
}

h2{
	color: #026fff;
	font-size: 26px;
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
}

strong{
	color: #026fff;
}

/*Colores*/
/* gris oscuro: #1d252c*/
/* gris claro #626262*/
/* background gris #1b2127*/
/*Header styles*/
.header{
	background-color: #1b2127;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	height: 100px;
}

.header a{
	color: white;
	text-decoration: none;
}

.main-logo{
	height: 60px;
}


.nav-menu{
}

.nav-menu ul{
	display: flex;
	justify-content: flex-end;
}

.nav-menu ul li{
	margin-right: 1rem;
	list-style: none;
}

/*Main sections styles*/
.hero{
	margin-top: 2rem;
	background-color: #1b2127;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	flex-wrap: wrap;
}

.text-hero{
	flex-basis: 60%;
}

.img-hero{
	flex-basis: 35%;
	min-width: 300px;
}

.img-hero img{
	width: 100%;
	height: 100%;
}


/*Portfolio style*/
.portfolio{
	background-color: #fafafa;
	display: inline-block;
	border-radius: 5px;
}

.project-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project{
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 1rem 0 1rem 0;
	padding: 1rem;
	background-color: white;
	flex-basis: calc(50% - 3rem);
}

.project-image-container{
	margin: 0;
}

.project-title{
	font-size: 30px;
}

.project-tools{
	font-size: 26px;
}

.project-image-container img{
	width: 100%;
	height: 100%;
}

.project-image-container, .project-container{
	flex-basis: calc(50% - 1rem);
}
.project-container{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 2rem;
}

.project-container a{
	text-decoration: none;
}

.project-container a:hover{
	text-decoration: underline;
}

.project-container *{
	margin-bottom: 2rem;
}

/*Experiencie section

.experiencie{
	margin: 0 3rem;
}
*/

.experiencie h2{
	margin-top: 1rem;
}

.job-list{
	display: flex;
	justify-content: space-between;
}

.job{
	flex-basis: calc(50% - 1rem);
	border-radius: 10px;
	margin: 1rem 0rem 1rem 0;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #f4fbff;
}

.job-image{
	margin: 0;
}

.job-image img{
	width: 100%;
	border-radius: 10px;
}

.job-image, .job-info-container{
	flex-basis: calc(50% - 1rem);
}

.job-info-container{
	flex-direction: column;
	margin: 2rem;
	margin-top: -6rem;
	background-color: white;
	padding: 3rem;
	text-align: center;
	position: relative;
}

.job-title{
	font-size: 30px;
}

.job-info-container *{
	margin-bottom: 2rem;
}

.job-url{
	color: #056fff;
	border: 1px solid;
	margin: 0;
	padding: 1rem 2rem;
	text-decoration: none;
	border-radius: 5px;
}

/*Contact section*/
.contact{
	background-color: white;
	color: black;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding-left: 2rem;
	flex-wrap: wrap;
}

.form-email *{
	margin-bottom: 1rem;
}

.form-email h3{
	font-family: 'Source Serif Pro', serif;
}

.form-email #email{
	border-color: gray;
	padding: 5px 20px 5px 25px;
	border-radius: 5px;
	border: 1px solid;
	background-image: url(../images/envelope.svg);
	background-repeat: no-repeat;
	background-size: 15px 20px;
	background-position-y: center;
	background-position-x: 5px;
}

.send-email{
	display: block;
	color: black;
	padding: 10px 30px;
	background: transparent;
	border-radius: 5px;
	border: 1px solid;
}

.social-link{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 2rem;
}
.facebook{
	background-image: url(../images/fb.svg);
	background-position: center center;
	background-size: 50px 50px;
}

.twitter{
	background-image: url(../images/twitter.svg);
	background-position: center center;
	background-size: 50px 50px;
}

.instagram{
	background-image: url(../images/instagram.svg);
	background-position: center center;
	background-size: 50px 50px;
}

.github{
	background-image: url(../images/github.svg);
	background-position: center center;
	background-size: 50px 50px;
}

/*Footer styles*/
.footer{
	color:white;
	background-color: #1b2127;
	display: flex;
	justify-content: space-between;
}

.footer a{
	color: white;
	text-decoration: none;
}

.footer-begin{
	display: flex;
	align-items: center;
}

.footer-begin p, .footer-end p{
	font-size: 15px;
}

.footer-begin img{
	width: 40px;
	height: 40px;
	margin-left: 2rem;
}

.footer-begin, .footer-end{
	flex-basis: calc(50% - 2rem);
}

.footer-end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.footer-end p{
	margin-right: 0.5rem;
}

.footer-end a{
	font-size: 15px;
}


/*Desktop first start with biggest Media query*/

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 768px) {
	.header{
		display: block;
		height: auto;
		text-align: center;
	}

	.main-logo{
		margin: 1rem 0;
		height: 40px;
	}

	.nav-menu{
		margin: 0;
	}

	.nav-menu ul{
		margin: 0;
		padding: 0;
		display: initial;
	}

	.nav-menu ul li{
		height: 50px;
		margin-right: 0;
	}

	.nav-menu ul li a{
		display: flex;
		justify-content: center;
	}

	.portfolio{
		/*Asign the font-size father*/
		font-size: 18px;
	}

	.portfolio h2{
		/*Use the font-size father as reference
		1 em = 15px --- 2em = 30px*/
		font-size: 2em;
	}

	.project-title{
		font-size: 1.5em;
	}

	.project-tools,
	.project-date,
	.link-repo,
	.project-description
	{
		font-size: 1em;
	}

	.job-info-container{
		font-size: 15px;
	}

	.job-title{
		font-size: 2em;
	}

	.job-description{
		font-size: 1.4em;
	}

	.project-container *{
		margin-bottom: 1rem;
	}

	.portfolio h2{
		text-align: center;
	}

	.project{
		flex-direction: column;
		flex-basis: calc(100% - 3rem);
	}

	.project-image-container{
		text-align: center;
	}

	.project-image-container img{
		width: auto;
	}

	.job-list{
		flex-direction: column;
	}
	.contact{
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	.project-image-container img{
		width: 100%;
	}

	.portfolio{
		/*Asign the font-size father*/
		font-size: 15px;
	}

	.project-container{
		padding: 0;
	}

	.job-title{
		font-size: 1.5em;
	}

	.job-description{
		font-size: 1.1em;
	}

	.contact{
		/*Debido a que estoy trabajando con desktop first
		(usando max-width) a partir de 480px en adelante ya toma las propiedades
		de 780, por lo cual no lo centra como quiero. Seria Recomendable usar mobile first*/
		height: auto;
		padding: 1em 0;
		display: block;
		text-align: center;
	}

	.send-email{
		margin: 0 auto 1em;
	}

	.footer{
		display: inline-block;
		width: 100%;
	}

	.footer-begin{
		align-items: center;
		justify-content: center;
	}
	.footer-begin img{
		margin: 0;
		width: 30px;
		height: 30px;
	}	

	.footer-end{
		justify-content: center;
	}


}

@media screen and (max-width: 320px) {
	
}